<!--
con esta linea se pasa todo
 <pre>
    {{notes}}
</pre>
        
-->






<section id="hero">

  <div class="container ">
    <div class="content-center topmargin-xs">
      <div class="card mt-2">
        <div class="card-header d-flex justify-content-between aling-items-center">

          <div class="card-body ">
            <button class="btn btn-info " id="btn-toggle-comment">
              <i class="fa fa-comment-o"></i> Comentar
            </button>
          </div>
        </div>



        <blockquote id="post-comment">


          <form action="notes" method="POST" id="formulario">

            <p class="text-center text-dark">Favor de llenar todos los datos del formulario</p>
            <div class="card-body">
              <form action="notes" method="POST" id="formulario">

                <div class="form-group">
                  <input id="asunto" type="text" class="form-control" name="name" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <textarea id="mensaje" name="description" class="form-control" placeholder="Comentario"></textarea>
                </div>

                <div class="form-group">
                  <input id="email" type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="col s6 ">
                  <button class="btn btn-success " id="enviar">
                    <i class="fa fa-comment-o"></i> Comentar
                  </button>
                </div>
              </form>

        </blockquote>
        <!--.contenido-->
        <ul class="list-group p-4 text-dark text-left">
          {{#each notes}}
          <li class="list-group-item">


            <div>
              <a href="" class="col-2 text-center">
                <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" alt="">
              </a>{{name}}
              <blockquote class="col">
                <p class="lead  text-dark">{{description}}</p>

              </blockquote>
              <footer>
                <!--<p class="text-dark">{{email}}</p>
          -->
                <p class="text-dark text-right">{{timeago timestamps}}</p>
              </footer>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
</section>






<!--

                 <div class="row" id="loaders">

              <img id="spinner" src="img/spinner.gif" width="150">
            </div>
            <div class="row text-primary">
              <div class="col s6 ">
                <button class="btn btn-info " id="enviar">
                  <i class="fa fa-comment-o"></i> Comentar
                </button>
              </div>
                  <div class="col s2">
                <button id="resetBtn" class="btn waves-effect waves-light light-blue darken-2" type="submit">Reset
                  <i class="material-icons right">delete</i>
                </button>
              </div>

    <form action="/images/comment" method="POST"></form>


<div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Nombre">

</div>
<div class="form-group">
    <input type="text" class="form-control" name="email" placeholder="Email">
</div>

<div class="form-group">
    <textarea name="comment" rows="2" class="form-control" placeholder="Comentario"></textarea>
</div>
<div class="form-group">
    <button class="btn btn-success" id="btn-comment">
        <i class="fa fa-comment"></i>Publicar
    </button>
</div>
</form>

-->